<span ng-include="menuTemplate"></span>
<div class="container">
    <div class="col-md-offset-2 col-md-8">
        <h1>New user</h1>
        <form class="form-signin" data-ng-submit="create()" novalidate>
            <label for="username" class="sr-only">Gebruikersnaam</label>
            <input data-ng-model="username" type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>

            <label for="password" class="sr-only">Wachtwoord</label>
            <input data-ng-model="password" type="password" name="password" id="password" class="form-control" placeholder="Password" required>
            
            <label for="given_name" class="sr-only">Voornaam</label>
            <input data-ng-model="profile.given_name" type="text" id="given_name" name="profile.given_name" class="form-control" placeholder="Voornaam" required autofocus>
            
            <label for="family_name" class="sr-only">Achternaam</label>
            <input  data-ng-model="profile.family_name" type="text" id="family_name" name="profile.family_name" class="form-control" placeholder="Achternaam" required autofocus>

            <label for="email" class="sr-only">E-mail</label>
            <input data-ng-model="profile.email" type="email" id="email" name="profile.email" class="form-control" placeholder="E-mail" required>
            
            <label for="birth-backoffice" class="sr-only">Geboortedatum</label>
            <input id="birth-backoffice" data-ng-model="profile.birthday" type="date" name="profile.birthday datepicker" class="form-control" placeholder="Geboortedatum" required>
            <div>
                <button type="submit" class="btn btn-lg btn-primary btn-block">Create User</button>
            </div>
            
            <div data-ng-show="error">
                <strong data-ng-bind="error"></strong>
            </div>
        </form>
    </div>
</div>
