<span ng-include="menuTemplate"></span>
<div class="container-fluid">
    <div class="row">
        <section data-ng-init="find()">
        <div class="container">
            <h1>Recordings</h1>
             <table>
                <tr>
                    <th>Gebruikersnaam</th>
                    <th>Aangemaakt op</th>
                    <th>Titel</th>
                    <th>Feedbacks</th>
                </tr>
                <tr data-ng-repeat="recording in recordings">
                    <td>{{ recording.username }}</td>
                    <td>{{ recording.created_at | date:"dd/MM/yyyy" }}</td>
                    <td>{{ recording.title }}</td>
                    <td>{{ recording.feedbacks.length }}</td>
                    <td>
                        <a href="#" data-ng-click="delete(recording._id);">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </a> 
                        <a data-ng-href="#!/recordings/{{recording._id}}">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            </table> 
            
            <div data-ng-hide="!recordings || recordings.length">
                Nog geen recordings.
            </div>
        </div>
    </section>
    </div>
</div>