<span ng-include="menuTemplate"></span>
<section data-ng-init="findOne()" class="container">
    <h1>{{ recording.title }}</h1>
    <div id="audio"></div>
    <dl>
        <dt>Gebruiker</dt>
        <dd>{{ recording.username }}</dd>
        <dt>Aangemaakt op:</dt>
        <dd>{{ recording.created_at | date:"dd/MM/yy ' om ' HH:mm"}}</dd>
        <dt>Componist</dt>
        <dd>{{ recording.author }}</dd>
        <dt>Beschrijving</dt>
        <dd>{{ recording.description }}</dd>
    </dl>
    
    <a href="#" data-ng-click="delete(recording._id);">delete</a>

    <h1>Feedback</h1>
    <div data-ng-repeat="feedback in recording.feedbacks">
        <h3>{{ feedback.username }} | {{ feedback.created_at | date:"dd/MM/yy ' om ' HH:mm"}}</h3>
        <h5>Likes: {{ feedback.likes.length}}. Goedgekeurd: <span ng-hide="feedback.approved">Nee</span><span ng-show="feedback.approved">Ja</span></h5>
        <p>{{ feedback.body }}</p>
        
        <a href="#" data-ng-click="deleteFeedback(recording._id, feedback);">delete</a>
    </div>
    
    <div data-ng-hide=" recording.feedbacks.length ">
        Nog geen feedback.
    </div>
</section>