<span ng-include="menuTemplate"></span>
<div data-ng-init="findOne()" class="container-fluid">
    <div class="col-md-offset-2 col-md-8">
        <h1>Edit study</h1>
        <form data-ng-submit="update()" novalidate class="form-signin">
            
            <label for="name">Title</label>
            <input type="text" data-ng-model="study.name" id="name" placeholder="Titel" required autofocus class="form-control">

            <label for="author">Componist</label>
            <input type="text" data-ng-model="study.author" id="author" placeholder="Author" required class="form-control">
            <label for="genre">Genre</label>

            <input type="text" data-ng-model="study.genre" id="genre" placeholder="Genre" required class="form-control">
            <label for="description">Beschrijving</label>

            <input type="text" data-ng-model="study.description" id="author" placeholder="Beschrijving" required class="form-control">
            <label for="rank">Rank</label>

            <input type="text" data-ng-model="study.rank" id="rank" placeholder="Rank" required class="form-control">
            <label for="focus">Focus</label>

            <input type="text" data-ng-model="study.focus" id="focus" placeholder="Focus" required class="form-control">
            <label for="maxPoints">Maximum punten</label>

            <input type="text" data-ng-model="study.maxPoints" id="maxPoints" placeholder="Maximum punten" required class="form-control">
            <label for="perfectDuration">Perfecte duur (in seconden)</label>

            <input type="text" data-ng-model="study.perfectDuration" id="perfectDuration" placeholder="Perfecte duur" required class="form-control">

            <label for="points">Checklist (vormt samen 40)</label>
                <div>
                    <p>Tempo</p>
                    <input type="text" data-ng-model="study.checklist.tempo" id="points" placeholder="Tempo" required class="form-control">
                    <p>Noten</p>
                    <input type="text" data-ng-model="study.checklist.notes" id="points" placeholder="Noten" required class="form-control">
                </div>

            <label for="time">Maatsoort</label>
            <input type="text" data-ng-model="study.time" id="time" placeholder="Maatsoort" required class="form-control">

            <label for="key">Toonaard</label>
            <input type="text" data-ng-model="study.key" id="key" placeholder="Toonaard" required class="form-control">

            <label for="notes">Noten</label>
            <textarea type="text" data-ng-model="study.notes" id="notes" placeholder="Noten" required class="form-control"></textarea>

            <div>
                <button type="submit" class="btn btn-lg btn-primary btn-block">Update studie</button>
            </div>

        </form>
    </div>
</div>