<span ng-include="menuTemplate"></span>
<section data-ng-init="findOne()" class="container">
    <h1>{{ study.name }}</h1>
    <dl>
        <dt>Componist</dt>
        <dd>{{ study.author }}</dd>
        <dt>Genre</dt>
        <dd>{{ study.genre }}</dd>
        <dt>Rank</dt>
        <dd>{{ study.rank }}</dd>
        <dt>Focus</dt>
        <dd>{{ study.focus }}</dd>
        <dt>Notes</dt>
        <dd>{{ study.notes }}</dd>
        <dt>Maximum punten</dt>
        <dd>{{ study.maxPoints }}</dd>
    </dl>
    <div data-ng-show="authentication.study._id == study.creator._id">
        <a href="#!/studies/{{study._id}}/edit">edit</a>
        <a href="#" data-ng-click="delete(study._id);">delete</a>
    </div>
</section>