<div class="container-fluid">
    <div class="row">
        <span ng-include="menuTemplate"></span>
        <div class="col col-md-9 fullHeight body" data-ng-init="find()">
            
            <div class="col col-md-6 fullHeight">
                <div class="inner-container">
                    <h1>Feedbackruimte</h1>
                    <table>
                        <tr>
                            <th>Titel</th>
                            <th>Gebruiker</th>
                            <th>Geplaatst</th>
                            <th class='checks'>Checks</th>
                        </tr>
                        
                        <tr data-ng-repeat="recording in feedbackRecordings" ng-click="showDetails(recording)">
                            <td>{{ recording.title }}</td>
                            <td>{{ recording.username }}</td>
                            <td>{{ recording.created_at | date:"dd/MM/yy"}}</td>
                            <td class='checks'>{{ recording.approvedFeedbacks }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col col-md-6 fullHeight">
                <div class="inner-container feedbackRecording-unselected">
                    <h4>Welkom in de feedbackruimte! Hier kan je opbouwende feedback geven aan de mede-blokfluitisten. Wanneer er drie commentaren goedgekeurd worden door een senior-gebruiker, zal de opname uit de feedbackruimte verdwijnen.</h4>
                </div>
                <div class="inner-container feedbackRecording-selected">
                    <div class="feedback-header">
                        <h3>{{ pickedFeedbackRecording.title }} | {{ pickedFeedbackRecording.username }}</h3>
                        <div id="audio">
                        </div>
                    </div>

                    <div class='container-body feedback'>
                        <div class="comments">
                            <div class="comment" data-ng-repeat="feedback in pickedFeedbackRecording.feedbacks" ng-class="long" >
                                <h3 ng-class="feedback.approved ? 'approved' : ''">{{ feedback.username }} <span class="right">{{ feedback.created_at | date:"dd/MM/yy"}}</span></h3>
                                <p>{{ feedback.body }}</p>
                                <div class="like-bar">
                                    <a ng-show="user.rank.value >= 4 && feedback.approved == false" class="approve" ng-click="approve(feedback._id)"><i class="fa fa-check"></i> Goedkeuren.</a>
                                    <a ng-hide="feedback.likes.indexOf(user._id) > -1" ng-click="like(feedback._id)" >Vind ik ook</a>
                                    <a class="noCursor" ng-show="feedback.likes.indexOf(user._id) > -1">Je vindt dit ook</a>                                
                                    <p>{{ feedback.likes.length }} <i class="fa fa-thumbs-up"></i>  |  </p>
                                </div>
                            </div>
                            <p ng-hide="pickedFeedbackRecording.feedbacks.length >= 1">Wees de eerste om feedback te geven!</p>
                        </div>
                        
                        <div ng-hide="pickedFeedbackRecording.username == user.username || givenFeedback == true" class="feedback-form">
                            <textarea data-ng-model="newFeedback.body" placeholder="Schrijf hier je feedback over de opname. Je kan slechts één feedback per opname geven dus wees nauwkeurig!" autofocus class="form-control" submit></textarea>
                            <button type="submit" ng-click="addFeedback()" ng-hide="newFeedback.body == ''">Plaatsen</button>
                        </div>
                        <div class="message" ng-show="givenFeedback == true">
                            <p>Bedankt voor je feedback!</p>
                        </div>
                        <div class="message" ng-show="pickedFeedbackRecording.username == user.username">
                            <p>Je kan geen feedback geven op je eigen opnames.</p>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>