<div class="container-fluid">
    <div class="row" data-ng-init="find()">
        <span ng-include="menuTemplate"></span>
        <div class="col col-md-9 fullHeight body">
            
            <div class="col col-md-6 fullHeight">
                <div class="inner-container study-container">
                    <h2>Nu online:</h2>
                    <ul class="usersOnline">
                        <li ng-repeat="chatUser in chatUsers" >{{ chatUser.username }}<i ng-click="makeCall(chatUser.username)" class="fa fa-phone-square" ng-show="user.rank.title == 'Gouden rank'"></i>
</li>
                    </ul>
                   
                    <div id='loginForm' data-ng-init="getRecordings()">
                        <div id="recordings" ng-repeat="recording in recordings">
                            <input  type="radio" name="gender" ng-value="recording._id"> {{ recording.title }} - {{ recording.author }} | {{ recording.created_at | date:"dd/MM/yy" }}
                        </div>
                        <button ng-show="status == 'notLoggedIn'" id="login" ng-click="checkLogin()">Log in</button>
                        <button ng-show="status == 'loggingIn'" disabled="disabled">Aan het inloggen...</button>
                        <button ng-show="status == 'loggedIn'" disabled="disabled">Ingelogd</button>
                    </div>
                </div>
            </div>
            <div class="col col-md-6 fullHeight"> 
                <div class="inner-container testMoment-container" data-ng-init="getTestMoments()">
                    <h2>Komende momenten:</h2>
                    <div class="moments" data-ng-repeat="testMoment in testMoments">
                        <h3>{{ testMoment.date | date:"dd/MM/yy"}} van {{ testMoment.startHour }} tot {{ testMoment.endHour }}</h3>
                        <ul data-ng-repeat="testUser in testMoment.users">
                            <li>{{ testUser.username }}</li>
                        </ul>
                    </div>
                    <div class="test-moment-form" ng-show="user.rank.value >= 4">
                        <input class="col col-md-12" type="text" data-ng-model="testMoment.date" placeholder="Datum">
                        <input class="col col-md-6" type="text" data-ng-model="testMoment.start" placeholder="Startuur" id="startDate">
                        <ng-timepicker ng-model="ctrl.time4" step="15"></ng-timepicker>
                        <input class="col col-md-6" type="text" data-ng-model="testMoment.end" placeholder="Einduur" id="endDate">
                        <input class="col col-md-12" type="text" data-ng-model="testMoment.places" placeholder="Beschikbare plaatsen">
                        <button type="submit" ng-click="addTestMoment()">Plaatsen</button>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>