<span ng-include="menuTemplate"></span>
<div class="container-fluid">
    <div class="col-md-offset-2 col-md-8">
        <h1>New study</h1>
        <form class="form-signin" data-ng-submit="create()" novalidate>

                <label class="sr-only" for="name">Title</label>
                <input type="text" data-ng-model="name" id="name" placeholder="Titel" required autofocus class="form-control">
            
                <label class="sr-only" for="author">Componist</label>
                <input type="text" data-ng-model="author" id="author" placeholder="Author" required class="form-control">
           
                <label class="sr-only" for="genre">Genre</label>
                <input type="text" data-ng-model="genre" id="genre" placeholder="Genre" required class="form-control">
              
                <label class="sr-only" for="description">Beschrijving</label>
                <input type="text" data-ng-model="description" id="author" placeholder="Beschrijving" required class="form-control">
               
                <label class="sr-only" for="rank">Rank</label>
                <input type="text" data-ng-model="rank" id="rank" placeholder="Rank" required class="form-control">
               
                <label class="sr-only" for="focus">Focus</label>
                <input type="text" data-ng-model="focus" id="focus" placeholder="Focus" required class="form-control">
               
                <label for="intstrument">Instrument</label>
                <div>
                    <input id="instrument" type="checkbox" data-ng-model="instruments.sopranino">Sopranino</input>
                    <input id="instrument" type="checkbox" data-ng-model="instruments.descant">Sopraan</input>
                    <input id="instrument" type="checkbox" data-ng-model="instruments.treble">Alt</input>
                    <input id="instrument" type="checkbox" data-ng-model="instruments.tenor">Tenor</input>
                </div>
          
                <label class="sr-only" for="maxPoints">Maximum punten</label>
                <input type="text" data-ng-model="maxPoints" id="maxPoints" placeholder="Maximum punten" required class="form-control margin-top">
              
                <label class="sr-only" for="perfectDuration">Perfecte duur (in seconden)</label>
                <input type="text" data-ng-model="perfectDuration" id="perfectDuration" placeholder="Perfecte duur" required class="form-control">
               
                <label for="points">Checklist (vormt samen 40)</label>
                <input type="text" data-ng-model="checklist.tempo" name="study.checklist.tempo" id="points" placeholder="Tempo" required class="form-control">
                <input type="text" data-ng-model="checklist.notes" id="points" name="study.checklist.notes" placeholder="Noten" required class="form-control">
                
                <label class="sr-only" for="time">Maatsoort</label>
                <input type="text" data-ng-model="time" id="time" placeholder="Maatsoort" required class="form-control margin-top">
              
                <label class="sr-only" for="key">Toonaard</label>
                <input type="text" data-ng-model="key" id="key" placeholder="Toonaard" required class="form-control">
               
                <label class="sr-only" for="notes">Noten</label>
                <textarea type="text" data-ng-model="notes" id="notes" placeholder="Noten" required class="form-control"></textarea>
               
            <div>
                <button type="submit" class="btn btn-lg btn-primary btn-block">Create Study</button>
            </div>
        </form>
    </div>
</div>