<span ng-include="menuTemplate"></span>
<div class="container-fluid">
    <div class="row">
        <section data-ng-init="find()">
        <div class="container">
            <h1>Studies</h1>
            <a class="button__add" href="#!/studies/create"><i class="fa fa-plus-square-o" aria-hidden="true"></i>
 Nieuw</a>
             <table>
                <tr>
                    <th>Naam</th>
                    <th>Componist</th>
                    <th>Rank</th>
                    <th>Genre</th>
                </tr>
                <tr data-ng-repeat="study in studies">
                    <td>{{ study.name }}</td>
                    <td>{{ study.author }}</td>
                    <td>{{ study.rank }}</td>
                    <td>{{ study.genre }}</td>
                    <td>
                        <a href="#!/studies/{{study._id}}/edit">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </a> 
                        <a href="#" data-ng-click="delete(study._id);">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </a> 
                        <a data-ng-href="#!/studies/{{study._id}}">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            </table> 
            
            <div data-ng-hide="!studies || studies.length">
                Nog geen studies.
            </div>
        </div>
    </section>
    </div>
</div>