<div class="container-fluid">
    <div class="row">
        <span ng-include="menuTemplate"></span>
        <div class="col col-md-9 fullHeight body" data-ng-init="findOne()">
          <div class="col col-md-6 fullHeight">
              <div class="inner-container">
                <div class="row">
                    <div class="col col-md-6 exampleNoteDiv">
                        <h2>{{ note.name }}</h2>
                        <canvas id="exampleNote"></canvas>
                    </div>
                    <div class="col col-md-6">
                        <img class="example" img src="{{ note.finger }}">
                    </div> 
                    <div class="col col-md-12 tips">
                        <h4>Tips</h4>
                        <ul>
                            {{ note.tips }}
                            <li data-ng-repeat="tip in tips">{{ tip.text }}</li>
                        </ul>
                    </div> 
                </div>
              </div>
        </div>

        <!--Werkblad=================================================-->
        <div class="col col-md-6 fullHeight your-note">
            <div class="inner-container">
                <h2>Je speelt een <span id="notePlayed">...</span></h2>
                <canvas id="exerciseNote"></canvas>
                <div class="panel panel-default">
                    <div id="countDown" class="panel-body">
                        <h2></h2>
                    </div>
                </div>
                <h4 class="rulesLearnNote">Aanwijzingen</h4>
                <p class="rulesLearnNote">Speel de noot voor 5 ononderbroken seconden.</p>
            </div>
        </div>
    </div>
</div>
