$dark-grey: #565d67;
$light-grey: #cdcdcd;
$white-ish: #f0f0f0;

$yellow: #bcbc25;
$turkoois: #37b59e;
$green: #4bb15a;
$red: #de3543;
$blue: #3875ba;

*{
    box-sizing: border-box;
}
html, body{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    background-color: $light-grey;
    color: $dark-grey;
    height: 100%;
    margin: 0;
    padding: 0;
    
    .navbar {
        border-radius: 0;
    }
    
    .container-fluid {
        .button__add {
            background-color: $blue;
            padding: 5px 10px;
            font-size: 1pc;
            color: $white-ish;
            border-radius: 3px;
            
            i {
                margin-right: 3px;
            }
        }
        table {
            margin-top: 2pc;
            width: 100%;
            
            tr {
                td {
                    a {
                        margin-right: 2pc;
                    }
                }
            }
        }
        form {
            label {
                font-weight: 400;
                font-size: 1.5rem;
                margin-top: 15px;    
            }
            .margin-top {
                margin-top: 20px;
            }
        }
    }
}
.login-col{
    background-color: $dark-grey;
    color: $light-grey;
    height: 100%;
}
.container{
    &.register{
        input{
            border-radius: 0;
            margin: 7px 0;
        }
        button{
            border-radius: 0;
            background-color: $dark-grey;
            border: 1px solid $dark-grey;
            -webkit-transition:  1s; /* Safari */
            transition:  1s;
            
            &:hover{
                background-color: $light-grey;
                color: $dark-grey;
            }
        }
    }  
    &.login{
        width: 100%;
        padding: 0;
        
        &.backoffice {
            h2 {
                color: $dark-grey;
            }
            div {
                background-color: rgba(0,0,0,0);
            }
        }
        form{
            height: 25%;
            margin-top: 65%;        
        }
        input{
            border-radius: 0;
            margin: 5px 0;
        }
        button{
            float: left;
            border: none;
            border-radius: 0;
            background-color: $green;
            color: $dark-grey;
            text-align: center;
            -webkit-transition: background-color 1s; /* Safari */
            transition: background-color 1s;
            &:hover{
                background-color: $green;
            }
        }
        a{
            color: $light-grey;
        }
    }
}

section, .container-fluid, .row, .right-menu, .right-menu .col, .container{
    height: 100%;
}
.left-menu{
    background-color: $dark-grey;
    color: $white-ish;
    height: 100%;
    padding: 50px 30px;
    
    .menu-heading{
        text-align: center;
        
        img{
            border-radius: 150px;
            -webkit-border-radius: 150px;
            -moz-border-radius: 150px;
            width: 110px;
        }
        a.button{
            border: 1px solid $white-ish;
            background-color: $dark-grey;
            font-size: 20px;
            color: $white-ish;
            padding: 3px 15px;
            &:hover{
                text-decoration: none;
            }
       }
    }
    
    .menu-gamification{
        padding-top: 30px;
        
        h2{
            font-size: 22px;
        }
        h3{
            font-size: 17px;
        }
        .right{
            float: right;
        }
        .level-bar{
            height: 15px;
            background-color: $white-ish;
            div{
                height: 100%;
                background-color: $yellow;
            }
        }
        div.left, div.right{
            p{
                margin-left: 25%;
            }
            width:50%;
            float: left;
        }
    }
    
    .menu-footer{
        position: absolute;
        bottom: 15px;
        text-align: center;
        width: 100%;
        left: 0;
        a{
            color: white;
        }
        i{
            font-size: 20px;
            margin-right: 15px;
        }
    }
}
.right-menu{
    padding: 20px 20px 0 20px;
    .row{
        height:33%;
        margin: 0;
    }
    .menu-item{
        height: 90%;
        border:1px solid $dark-grey;
        text-align: center;
        padding: 35px;
        text-decoration: none;
        display: block;
        background-color: #ecedee;
        -webkit-transition: background-color 0.7s; /* For Safari 3.1 to 6.0 */
        transition: background-color 0.7s;
    
        &:hover{
            cursor: pointer;
            background-color: #f6f6f6;          
        }
        h3{
            padding-top: 20px;
            margin:0;
            color: $dark-grey;
            text-decoration: none;
        }
    }
}
.exampleNoteDiv{
    overflow: hidden;
}
img.example{
    height: 175px;
    padding-left: 65px;
    margin-top: 20px;
}
#countDown{
    display: none;
    background-color: rgba(75,177,90, 0.5);
    position: absolute;
    top: 90px;
    left: 35px;
    width: 370px;
    height: 150px;
    text-align: center;
    padding:0;
    h2{
       margin-top: 10px;
       font-size: 130px;
    }
}
.your-note div.panel.panel-default{
    width: 0;
    height: 0;
}
.fullHeight{
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    
    &.col-md-6:first-of-type{
        padding-left: 20px;
        padding-right: 10px;   
    }
    &.col-md-6:last-of-type{
        padding-left: 10px;
        padding-right: 20px;
    }
}
.inner-container{
    background-color: $white-ish;
    height: 100%;
    width: 100%;
    padding: 20px;
}
.inner-container h2{
    margin: 0;
}
.body{
    padding: 0;
}
table{
    width: 100%;
    th{
        font-size: 14px;
        padding-bottom: 10px;
        &.checks{
            text-align: center;
        }
    }
    td{
        font-size: 15px;
        padding: 4px 0;
        &.checks{
            text-align: center;
        }
    }
    
    tr{
        border-top: 1px solid $light-grey;
        &:nth-of-type(1), &:nth-of-type(2){
            border-top: none;
        }
        &.rank1{
            color: $green;
        }
        &.rank2{
            color: $turkoois;
        }
        &.rank3{
            color: $light-grey;
        }
        &.rank4{
            color: $yellow;
        }
        &:first-of-type:hover{
            cursor: default;
        }
        &:hover{
            cursor: pointer;
        }
    }
}

.pick-note{
    .score-field{
        margin: 0 30% 0 20%;
        overflow: hidden;
        .explanation{
            position: absolute;
            width: 150px;
            margin-top: 7%;
        }
    }
    ul{
        padding: 0;
        li{
            float: left;
            
            text-align: center;
            list-style: none;
            & a{
            background-color: $light-grey;
            color: $dark-grey;
            text-decoration: none;
            padding: 5px 7px;
            margin: 5px; 
            }
            &.learned a{
                background-color: $green;
                color: $white-ish;
            }
        }
    }
}
.tips{
    margin-top: 20px;
}
#exampleNote, #exerciseNote{
    padding-top: 20px;
}
#exerciseNote{
    margin-left: 25%;
    margin-top: 30px;
}
h1{
    margin-top: 0;
}
.study-unselected,
.feedbackRecording-unselected{
    text-align: center;
    
    h4{
        font-weight: 300;
        line-height: 25px;
        margin-top: 40%;
    }
}
.study-selected, .feedbackRecording-selected{
    .study-header, .feedback-header{
        margin: -20px -20px 20px;
        background-color: $dark-grey;
        padding: 20px 20px 7px 20px;
        color: $white-ish;
        h3{
            margin-top: 0;
            margin-bottom: 17px;
        }
    }
    a.button{
        display: block;
        text-align: center;
        width: 30%;
        margin-left: 35%;
        margin-top: 40px;
        border: 1px solid $white-ish;
        background-color: $blue;
        font-size: 20px;
        color: $white-ish;
        padding: 3px 15px;
        &:hover{
            text-decoration: none;
        }
    }
}
.container-body.feedback{
    height: 80%;
    div.comments{
        height: 60%;
        overflow-y: scroll;
        &.long{
            height: 85%;
        }
        .right{
            float: right;
        }
        h3{
            background-color: $light-grey;
            font-size: 17px;
                font-weight: 500;
                padding: 7px 10px;
                margin: 0;
                &.approved{
                    background-color: $green;
                    color: $white-ish;
                }
        }
        .comment{
            margin-bottom: 50px;
        }
        .comment > p{
            margin: 7px 10px;
        }
        div.like-bar{
            a.approve{
                float: left;
                color: $green;
            }
            p, a{
                float: right;
                display: block;
                margin-right: 15px;
                color: $dark-grey;
            }
            p{
                margin-right: 0;
            }
            a{
                margin-left: 5px;
                cursor: pointer;
            }
            a.noCursor{
                cursor: default;
                &:hover{
                    text-decoration: none;
                }
            }
        }
    }
    .feedback-form, 
    .message{
        height: 40%;
        border-top: 1px solid $light-grey;
        margin-top: 20px;
        textarea{
            margin-top: 30px;
            height: 60%;
        }
    }
    .message{
        padding: 20px;
        text-align: center;
    }
}

.inner-container{
    h1{
        font-size: 20px;
        margin: -20px;
        margin-bottom: 20px;
        padding: 20px;
        color: $white-ish;
        background-color: $dark-grey;
    }
}
button{
        font-size: 17px;
        padding: 7px 20px;
        margin-top: 5px;
        float: right;
        border: none;
        border-radius: 0;
        background-color: $green;
        color: $white-ish;
        text-align: center;
        -webkit-transition: background-color 1s; /* Safari */
        transition: background-color 1s;
        -webkit-transition: color 0.5s; /* Safari */
        transition: color 0.5s;
        &:hover{
            background-color: $light-grey;
            color: $dark-grey;
        } 
        &.placeInFeedback{
            float: none;
            margin-left: 20%;
        }
        &:disabled{
            background-color: $light-grey;
            color: $dark-grey;
        }
}
.container-body.recording{
    height: 80%;
    div.description{
        height: 40%;
        overflow-y: scroll;
    }
    div.comments{
        height: 60%;
        .comments-scroll{
            height:100%;
            overflow-y: scroll;
        }
    }
}
div.score{
    height: 90%;
    overflow-y: scroll;
    position: relative;
    #score{
        width: 95%;
    }
}

.tools{
    div{
        float: left;
        margin-right: 20px;
        padding: 7px;
    }
    .instrument{
        li{
            background-color: $light-grey;
            padding: 5px;
            &:hover{
                cursor: pointer;
            }
        }
        li.active{
            background-color: $green;
        }
    }
}

.usersOnline{
    height: 50%;
    border-bottom: 1px solid $light-grey;
    overflow-y: scroll;
}

.ngdialog.ngdialog-theme-default .ngdialog-content{
        #indgoingVid{
            width: 100%;
            video{
                width: 100%;
            }
        }
        #outgoingVid{
            width: 300px;
            video{
                width:100%;
            }
        }
}
.vid{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.ngdialog.ngdialog-theme-default .ngdialog-content{
    width: 80% !important;
}
#incomingVid video{
    width: 100%;
}