<div class="ngdialog-message wide" id="study-dialog">
    <div class="row">
        <div class="col col-md-6">
            <h2>Toets</h2>
            <p>{{ chatData.username }} speelt '{{ chatData.songTitle }}'. Hij/zij zit momenteel in de {{ chatData.currentRank }}.</p>
            
            <h4>Eerdere opname van het gekozen stuk</h4>
            <div id="audio">
            </div>
            
            <h4>Checklist</h4>
            <div class='checklist-item tempo'>
                <h6>Tempo:</h6>
                <p>
                    <input type="number" min="1" ng-max="chatData.songChecklist.tempo" ng-show='user.rank.title == "Gouden rank"' ng-model="checklist.tempo" ng-change="watchChecklist()">
                    <span ng-hide='user.rank.title == "Gouden rank"'>{{checklist.tempo}}</span>
                    /{{ chatData.songChecklist.tempo }}
                </p>
            </div>
            <div class='checklist-item notes'>
                <h6>Noten:</h6>
                <p>
                    <input type="number" min="1" ng-max="chatData.songChecklist.notes" ng-show='user.rank.title == "Gouden rank"' ng-model="checklist.notes" ng-change="watchChecklist()">
                    <span ng-hide='user.rank.title == "Gouden rank"'>{{checklist.notes}}</span>
                    /{{ chatData.songChecklist.notes }}
                </p>
            </div>
            <div class='checklist-item rythm'>
                <h6>Ritme:</h6>
                <p>
                    <input type="number" min="1" ng-max="chatData.songChecklist.rythm" ng-show='user.rank.title == "Gouden rank"' ng-model="checklist.rythm" ng-change="watchChecklist()">
                    <span ng-hide='user.rank.title == "Gouden rank"'>{{checklist.rythm}}</span>/{{ chatData.songChecklist.rythm }}
                </p>
            </div>
            <div class='checklist-item musicality'>
                <h6>Muzikaliteit:</h6>
                <p>
                    <input type="number" min="1" ng-max="chatData.songChecklist.musicality" ng-show='user.rank.title == "Gouden rank"' ng-model="checklist.musicality" ng-change="watchChecklist()">
                    <span ng-hide='user.rank.title == "Gouden rank"'>{{checklist.musicality}}</span>/{{ chatData.songChecklist.musicality }}
                </p>
            </div>
            <h4 ng-hide="checklist.result == undefined">Totale score: {{ checklist.result }}/100</h4>
        </div>
        <div class="col col-md-6">
            <div id="incomingVid">
            </div>
            <div id="outgoingVid">
            </div>
        </div>
    </div>
</div>
<div class="ngdialog-buttons">
    <button type="button" ng-show="user.rank.title == 'Gouden rank' && checklist.result !== undefined " class="ngdialog-button ngdialog-button-primary" ng-click="confirm()">Score invoeren en sluiten</button>
    <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog()">Sluiten</button>
</div>
