<span ng-include="menuTemplate"></span>
<div class="container-fluid">
    <div class="row">
        <section data-ng-init="find()">
        <div class="container">
            <h1>Users</h1>
            <a  class="button__add" href="#!/users/create"><i class="fa fa-plus-square-o" aria-hidden="true"></i>
 Nieuw</a>
             <table>
                <tr>
                    <th>Aangemaakt op</th>
                    <th>Gebruikersnaam</th>
                    <th>Voornaam</th>
                    <th>Achternaam</th>
                    <th>Rank</th>
                </tr>
                <tr data-ng-repeat="user in users">
                    <td>{{ user.created_at }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.profile.given_name }}</td>
                    <td>{{ user.profile.family_name }}</td>
                    <td>{{ user.rank.title }}</td>
                    <td>
                        <a href="#!/users/{{user._id}}/edit">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </a> 
                        <a href="#" data-ng-click="delete(user._id);">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </a> 
                        <a data-ng-href="#!/users/{{user._id}}">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            </table> 
            
            <div data-ng-hide="!users || users.length">
                Nog geen gebruikers.
            </div>
        </div>
    </section>
    </div>
</div>