<span ng-include="menuTemplate"></span>
<div data-ng-init="findOne()" class="container-fluid">
    <div class="col-md-offset-2 col-md-8">
        <h1>Edit user</h1>
        <form data-ng-submit="update()" novalidate class="form-signin">
            <label for="username">Gebruikersnaam</label>
            <input type="text" data-ng-model="user.username" id="username" placeholder="Gebruikersnaam" required autofocus class="form-control">

            <label for="given_name">Voornaam</label>
            <input id="given_name" type="text" data-ng-model="user.profile.given_name" placeholder="Voornaam" required class="form-control">

            <label for="family_name" >Achternaam</label>
            <input id="family_name" type="text" data-ng-model="user.profile.family_name" placeholder="Achternaam" required class="form-control">

            <label for="email">Email</label>
            <input id="email" type="email" data-ng-model="user.profile.email" placeholder="E-mail" required class="form-control">
   
            <div>
                <button type="submit" class="btn btn-lg btn-primary btn-block">Update user</button>
            </div>
        </form>
    </div>
</section>