<span ng-include="menuTemplate"></span>
<section data-ng-init="findOne()" class="container">
    <h1>{{ user.username }}</h1>
    <dl>
        <dt>Voornaam</dt>
        <dd>{{ user.profile.given_name }}</dd>
        <dt>Achternaam</dt>
        <dd>{{ user.profile.family }}</dd>
        <dt>Geboortedatum</dt>
        <dd>{{ user.profile.birthday | date:"dd/MM/yyyy" }}</dd>
        <dt>Email</dt>
        <dd>{{ user.profile.email }}</dd>
        <dt>Rank</dt>
        <dd>{{ user.rank.title }}</dd>
        <dt>Level</dt>
        <dd>{{ user.level.name }}</dd>
        <dt>Punten</dt>
        <dd>{{ user.profile.points }}</dd>
    </dl>
    <div data-ng-show="authentication.user._id == user.creator._id">
        <a href="#!/users/{{user._id}}/edit">edit</a>
        <a href="#" data-ng-click="delete(user._id);">delete</a>
    </div>
</section>