<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="backoffice#!/">Backoffice</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a href="#!/users">Users</a></li>
        <li><a href="#!/studies">Studies</a></li>
        <li><a href="#!/recordings">Opnames</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout">Uitloggen</a></li>
    </ul>
  </div>
</nav>