<!DOCTYPE html>
<html ng-app="app_backoffice">
<head>
    <title>Recorder</title>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/app.min.css" rel="stylesheet">
    
    <script type="text/javascript" src="assets/js/angular/angular.js"></script>
    <script type="text/javascript" src="assets/js/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="assets/js/angular-resource/angular-resource.min.js"></script>
    
    <script src="assets/js/jquery/dist/jquery.js"></script>
    
    <script src="assets/js/ui-bootstrap-1.3.2.min.js"></script>
    
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.min.css" />
   
    
    <script src="app.js"></script>

</head>

<body>
    <section ng-view class="main-section"></section>
</body>
</html>