<!DOCTYPE html>
<html>
<head>
    <title>
        <%=title %>
    </title>

    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/app.min.css" rel="stylesheet">
</head>
<body>
    <% for(var i in messages) { %>
        <div class="flash">
            <%= messages[i] %>
        </div>
    <% } %>

    <div class="container login">
        <div class="col-md-9 vid">
            <video width="600" controls>
                <source src="assets/images/exan.mp4" type="video/mp4">
            </video>
        </div> 
        <div class="login-col col col-md-3">
            <form class="form-signin" action="/" method="post">
                <h2>Recorder</h2>

                <label for="username" class="sr-only">Username</label>
                <input type="text" name="username" id="username" class="form-control" placeholder="Username" required autofocus>

                <label for="password" class="sr-only">Password</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="Password">

                <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
            </form>
            <a href="/register">Nog geen account? Registreer je hier.</a>
        </div>
    </div>
</div>
</body>
</html>